#root {
  --primary-bg: #0d0c0c;
  --primary-text: #333;
  --secondary-bg: #fff;
  --secondary-text: #555;
  --highlight-border: #df8a1c;
  --highlight-bg: #ffffff;
  --highlight-text: #000000;
  --unselected-bg: #000000;
  --unselected-text: #df8a1c;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --hover-box-shadow-color: rgba(0, 0, 0, 0.15);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}